In [10]:
import pandas as pd
import wget

In [11]:
metadata = pd.read_csv("/data/hoan/amromics/prediction/data/Ecoli1936metafiles/metadata.csv")

In [12]:
metadata.head()

,ENA.Accession.Number,Isolate,Lane.accession,Sequecning Status,Year,CTZ,CTX,AMP,AMX,AMC,TZP,CXM,CET,GEN,TBM,TMP,CIP
0,ERS356929,11657_5#10,ERR434268,Previously sequenced,2010.0,S,S,S,NaN,S,S,S,I,S,S,S,S
1,ERS356935,11657_5#11,ERR434269,Previously sequenced,2010.0,S,S,R,NaN,R,S,S,I,S,S,R,R
2,ERS356938,11657_5#12,ERR434270,Previously sequenced,2010.0,S,S,S,NaN,S,S,S,S,S,S,S,S
3,ERS356941,11657_5#13,ERR434271,Previously sequenced,2010.0,S,S,R,NaN,R,S,S,I,S,S,S,R
4,ERS356967,11657_5#14,ERR434272,Previously sequenced,2010.0,S,S,R,NaN,S,S,S,S,S,S,R,S

In [13]:
assembly_file = pd.read_csv("/data/hoan/amromics/prediction/data/Ecoli1936metafiles/assembly_file.tsv", sep='\t')

In [14]:
assembly_file.head()

,analysis_accession,study_accession,sample_accession,tax_id,scientific_name,submitted_ftp,sample_title
0,ERZ2821623,PRJEB45963,SAMD00000699,562,Escherichia coli,ftp.sra.ebi.ac.uk/vol1/ERZ282/ERZ2821623/SAMD0...,Genome of Escherichia coli enteroinvasive
1,ERZ2821625,PRJEB45963,SAMD00000754,562,Escherichia coli,ftp.sra.ebi.ac.uk/vol1/ERZ282/ERZ2821625/SAMD0...,Genome of Escherichia coli aggregative
2,ERZ2821650,PRJEB45963,SAMD00002695,562,Escherichia coli,ftp.sra.ebi.ac.uk/vol1/ERZ282/ERZ2821650/SAMD0...,Genome of Escherichia coli
3,ERZ2821652,PRJEB45963,SAMD00002789,562,Escherichia coli,ftp.sra.ebi.ac.uk/vol1/ERZ282/ERZ2821652/SAMD0...,Genome of Escherichia coli enteroinvasive
4,ERZ2821681,PRJEB45963,SAMD00003510,621,Shigella boydii,ftp.sra.ebi.ac.uk/vol1/ERZ282/ERZ2821681/SAMD0...,Genome of Shigella boydii serotype 4

In [15]:
metadata.iloc[2,1]

'11657_5#12'

In [8]:
count = 0
for isolate in metadata.iloc[:,1]:
    # print(isolate, end=',')
    # assembly_file.loc[assembly_file['sample_title'] == isolate]['submitted_ftp'].values
    if isolate in assembly_file['sample_title'].values:
        # print(isolate)
        url = 'https://'+assembly_file.loc[assembly_file['sample_title'] == isolate]['submitted_ftp'].values[0]
        count = count + 1
        # print(url)
        wget.download(url, out='/data/hoan/amromics/amr_prediction/data/assembly')

In [9]:
print(count)

1653

In [23]:
isolate = []
sample = []
for i in range(len(assembly_file.index)):
    if assembly_file.iloc[i, 6] in metadata.iloc[:,1].values:
        isolate.append(assembly_file.iloc[i, 6])
        sample.append(assembly_file.iloc[i, 2])

In [24]:
isolate[:10]

['11658_4#2',
 '11657_5#3',
 '11658_8#26',
 '11658_5#13',
 '11658_6#9',
 '11658_6#11',
 '11658_8#27',
 '11658_7#6',
 '11791_7#9',
 '11791_7#10']

In [25]:
sample[:10]

['SAMEA2204231',
 'SAMEA2204244',
 'SAMEA2204271',
 'SAMEA2204274',
 'SAMEA2204275',
 'SAMEA2204281',
 'SAMEA2204284',
 'SAMEA2204286',
 'SAMEA2204287',
 'SAMEA2204288']

In [26]:
df = pd.DataFrame({'sample_accession': sample, 'isolate': isolate})

In [27]:
df.head()

  sample_accession     isolate
0     SAMEA2204231   11658_4#2
1     SAMEA2204244   11657_5#3
2     SAMEA2204271  11658_8#26
3     SAMEA2204274  11658_5#13
4     SAMEA2204275   11658_6#9

In [31]:
df.to_csv('/data/hoan/amromics/prediction/data/Ecoli1936metafiles/sample_isolate.csv',index=False)

In [32]:
newdf = pd.read_csv('/data/hoan/amromics/prediction/data/Ecoli1936metafiles/sample_isolate.csv')

In [33]:
newdf

     sample_accession     isolate
0        SAMEA2204231   11658_4#2
1        SAMEA2204244   11657_5#3
2        SAMEA2204271  11658_8#26
3        SAMEA2204274  11658_5#13
4        SAMEA2204275   11658_6#9
...               ...         ...
1648     SAMEA3531797  18090_8#20
1649     SAMEA3531824  18090_8#23
1650     SAMEA3531847  18090_6#60
1651     SAMEA3531642  18090_6#95
1652     SAMEA2205067  11791_3#38

[1653 rows x 2 columns]